<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--类型别名-->
    <typeAliases>
        <typeAlias alias="User" type="com.liupeng.dto.User"></typeAlias>
    </typeAliases>


    <!--
        plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
        properties?, settings?,typeAliases?, typeHandlers?,objectFactory?,objectWrapperFactory?,
        plugins?,
        environments?, databaseIdProvider?, mappers?
    -->
    <plugins>
        <!--google pageheler分页拦截器-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
            <property name="helperDialect" value="mysql"/>
        </plugin>

        <!--自定义分页拦截器-->
        <!--<plugin interceptor="com.liupeng.datasource.plugin.PageInterceptor">-->
            <!--<property name="limit" value="10"/>-->
            <!--<property name="dbType" value="mysql"/>-->
        <!--</plugin>-->
        <plugin interceptor="com.liupeng.datasource.plugin.PageInterceptor1">
            <property name="dbType" value="mysql"/>
        </plugin>
    </plugins>

    <!--原生使用mybatis是才会用到的配置-->
    <!--<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/liupeng"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/user/User.xml"/>
    </mappers>-->
</configuration>