<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context
       					http://www.springframework.org/schema/context/spring-context-4.0.xsd
       					http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!--有注解能力-->
    <context:annotation-config/>

    <!--aop注解方式-->
    <aop:aspectj-autoproxy/>

    <!-- 开启aop，对类代理 -->
    <aop:config proxy-target-class="true"></aop:config>

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.liupeng"/>

    <!-- 配置文件 -->
    <bean id="propertyFileConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/WEB-INF/application.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath*:mybatis/datasource.xml"></import>
    <import resource="classpath*:spring/springCache-bean.xml"></import>
    <import resource="classpath*:spring/spring-session.xml"></import>
    <import resource="classpath*:spring/spring-shiro.xml"></import>
    <import resource="classpath*:spring/sql-exec.xml"></import>
    <!--dubbo配置，需要使用的时候请打开-->
    <!--<import resource="classpath*:spring/spring-dubbo-provider.xml"></import>-->
</beans>